body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.item-img {
  width: 100%!important;
  height: 500px!important;
}

#check {
  font: 24px 'opensans-bold', sans-serif!important;
  margin-bottom: 8rem!important;
}

@media only screen and (max-width: 600px) {
  .item-img {
    height: 300px!important;
  }
}
