body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.item-img {
  width: 450px!important;
  height: 280px!important;
}

#check {
  font: 24px 'opensans-bold', sans-serif!important;
  margin-bottom: 8rem!important;
}
